$tiny-breakpoint: 390px;
$small-breakpoint: 450px;
$medium-breakpoint: 600px;
$big-breakpoint: 900px;
$big-square: 50px;
$small-square: 25px;
$medium-square: 30px;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  margin-top: 20px;

  .square {
    display: block;
    border: 1px solid black;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
  }

  &_3 {
    grid-template-rows: repeat(3, $big-square);
    grid-template-columns: repeat(3, $big-square);
  }

  &_5 {
    grid-template-rows: repeat(5, $big-square);
    grid-template-columns: repeat(5, $big-square);
  }

  &_10 {
    grid-template-rows: repeat(10, $big-square);
    grid-template-columns: repeat(10, $big-square);

    @media(max-width: $medium-breakpoint) {
      grid-template-rows: repeat(10, 35px);
      grid-template-columns: repeat(10, 35px);

      .square {
        line-height: 32px;
        font-size: 24px;
      }
    }

    @media(max-width: $small-breakpoint) {
      grid-template-rows: repeat(10, 30px);
      grid-template-columns: repeat(10, 30px);

      .square {
        line-height: 32px;
        font-size: 20px;
      }
    }

    @media(max-width: $tiny-breakpoint) {
      grid-template-rows: repeat(10, 25px);
      grid-template-columns: repeat(10, 25px);

      .square {
        line-height: 25px;
        font-size: 15px;
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-top: 50px;

  @media(max-width: $big-breakpoint) {
    align-items: center;
    flex-direction: column;
    height: 130px;
    width: auto;
  }

  @media(max-width: $tiny-breakpoint) {
    height: 100px;
  }

  &_3{
    width: 1000px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setup {
  width: 320px;

  @media(max-width: $tiny-breakpoint) {
    width: 250px;
  }

  &__group {
    align-self: flex-start;
    text-align: left;

    &_margin {
      margin-top: 30px !important;
    }
  }

  &__text-field {
    &_bottom {
      margin-bottom: 15px !important;
    }
  }
}

button {
  width: 320px;
  height: 50px;
  font-size: 16px;

  @media(max-width: $tiny-breakpoint) {
    width: 250px;
    height: 40px;
    flex-direction: column;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

  @media(max-width: $medium-breakpoint) {
    font-size: 2.5em;
  }
}